<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Static HTML Coding with Vue Componet
    link(rel="stylesheet", href="/css/components.css")
  body
    main#app
      block contents
    script(src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js")
    script(src="/components.bundle.js")
    script.
      new Vue({
        el: '#app',
        mounted: function() {
          // プリレンダーに必要
          document.dispatchEvent(new Event('render-event'))
        }
      })

