extend ./_layout.pug

block contents
  h1 Static Html Coding with Vue Components

  section
    h2 v-for でループ
    hello-world(msg="Hello, Vue!" v-for="n in 2")

  section 
    h2 Pug の while 構文でループ
    - var count = 0
      while ++count <= 2
        hello-world(msg="Hello, Pug!!")